<h1><%= @member.name %> Profile </h1>
Website URL: <%= @member.pws_full_url %><br/>
Short URL: <%= @member.pws_short_url %><br/>

<h2>Headings</h2>
<% if @headings.any? %>
    <ul class="headings">
        <%= render @headings %>
    </ul>
<% else %>
    No headings found
<% end %>

<h2>Friends</h2>
<% if @friends_data.present? %>
    <ul class="friends">
        <%= render 'friends/friend_data.html.erb' %>
    </ul>
<% else %>
    You don't have any friends yet...
<% end %>

<h2>Find Experts</h2>
<%= form_tag(member_path, :method => "get") do %>
    <%= text_field_tag :search_text, params[:search_text], :value => '' %>
    <%= submit_tag "Search" %>
<% end %>


<h2>Search Results</h2>
<% if @experts.present? %>
    <ul class="experts">
        <%= render 'friends/expert.html.erb' %>
    </ul>
<% end %>
<%= @search_no_results_msg %>

<br/><br/><br/><%= link_to "Back to All Members", root_path %>